<main>
<h1 class="text-title">Cursos</h1>

<div class="main-container">
      <a class="btn-add" href="/save-course">
      Crear curso
      <i class="gg-add"></i>
      </a>


<div class="row">

{{#if hasCourse}}

{{#each course as |cou|}}

<div class="cards">
   <div class="card-container">
    <div class="cd-container">
      <div class="info">
        <h5 required class="card-info">Curso: {{cou.name}}</h5>
         <p  class="card-text">Año escolar: {{cou.schoolyear.dataValues.dateunited}}</p>
        <a class="btn btn-secondary btn-block" href="/edit-course/{{cou.id}}?edit=true">editar</a>   
      </div>    
      <div class="img-info">
        <img class="img-edit" src="/assets/imgs/cursos-save-img.png">    
    </div>
    </div>

</div>

</div>

{{/each}}

{{else}}
<div class="mt-container">
  <img class="std-img" src="https://wallpaperaccess.com/full/200620.jpg">
  <img class="std-img-require" src="https://images.pexels.com/photos/2675050/pexels-photo-2675050.jpeg?cs=srgb&dl=pexels-dids-2675050.jpg&fm=jpg">
  <h1 class="text-error">No hay cursos creados</h1>
</div>
{{/if}}

</div>
</div>

</main>