<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{pageTitle}}</title>
    <link rel="stylesheet" href="/assets/css/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/css/static/style.css"/>
    <link rel="stylesheet" href="/assets/css/static/login.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href='https://unpkg.com/css.gg@2.0.0/icons/css/add.css' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css2?family=Borel&family=Edu+SA+Beginner:wght@700&family=Fira+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/static/style.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href='https://unpkg.com/css.gg@2.0.0/icons/css/add.css' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css2?family=Borel&family=Edu+SA+Beginner:wght@700&family=Fira+Sans:wght@300&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/css.gg@2.0.0/icons/css/user.css' rel='stylesheet'>
    <link href='https://unpkg.com/css.gg@2.0.0/icons/css/keyhole.css' rel='stylesheet'>
    <link href='https://unpkg.com/css.gg@2.0.0/icons/css/check-o.css' rel='stylesheet'>
    <link href='https://unpkg.com/css.gg@2.0.0/icons/css/close-o.css' rel='stylesheet'>
    <link href='https://unpkg.com/css.gg@2.0.0/icons/css/printer.css' rel='stylesheet'>
  </head>
<body>

  {{#if isAuthenticated}}
  <!--Menú-->
   <nav class="navbar-container navbar navbar-expand-md navbar-dark bg-success mb-0 fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
      <img src="https://cdn-icons-png.flaticon.com/512/7468/7468192.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
      Manitas de oro
    </a>
        <button
          class="navbar-toggler nav-icon "
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarCollapse"
          aria-controls="navbarCollapse"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
           <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>   
            <li class="nav-item">

              <a class="nav-link" href="/admin-student">Estudiantes</a>
            </li>       
             

              {{#if (equals userd.role 'Admin')}}
            <li class="nav-item">
              <a class="nav-link" href="/course">Cursos</a>
            </li>
 {{/if}}
              <li class="nav-item">
              <a class="nav-link" href="/family">Familias</a>
            </li>

             <li class="nav-item">
              <a class="nav-link" href="/tutor">Tutores</a>
            </li>

             {{#if (equals userd.role 'Admin')}}
            <li class="nav-item">
              <a class="nav-link" href="/schoolyear">Año Escolar</a>
            </li>
             {{/if}}
            <li class="nav-item">
              <a class="nav-link" href="/payments">Pagos</a>
            </li>

             <li class="nav-item">
              <a class="nav-link" href="/logout">Cerrar sesión</a>
            </li>
           
          </ul>
        </div>
         </nav>
          {{/if}}

          <main >
<div class="row">
  <div id="container-html" class="col-8 offset-2">
        {{#if hasErrorMessages}}
      <div><br><br></div>
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <ul>
        {{#each errorMessages}}
        <li>{{this}}</li>
        {{/each}}
      </ul>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
      {{/if}}
  </div>
</div>



    <div class="container">

    {{{body}}}

    </div>

    <script src="/assets/js/bootstrap/bootstrap.js"></script>
    <script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>
  

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>

<script src="/assets/js/toastr/toastr.min.js"></script>

  <script src="/assets/js/index/index.js"></script>

</body>
</html>