<main class="login-container w-100 text-center">
<div class="login-img">
  <img src="https://www.collinsdictionary.com/images/full/school_309241295.jpg"/>
</div>
<div class="cart mx-auto">
  <div class="card-body">
  <form class="p-3" action="/login" method="POST" >
     <img class="login-icon mb-4 mx-auto img-center " src="https://www.collinsdictionary.com/images/full/school_309241295.jpg" alt="" width="128" height="128">
    <h1 class="h3 mb-3 fw-normal">Ingrese sus datos</h1>

    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" placeholder="Nombre" name="username" required>
      <label class="label-txt" for="floatingInput"><i class="gg-user"></i>Usuario</label>
    </div>
    <div class="form-floating mb-3">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password" required>
      <label class="label-txt" for="floatingPassword"><i class="gg-keyhole"></i>Contraseña</label>
    </div>

     <button class="login-button w-100 btn btn-lg btn-outline-secondary" type="submit">Ingresar</button>
  </form>
  </div>
</div>
</div>
  <img class="login-img-portrait" src="https://cutewallpaper.org/24/students-png/riipen-experiential-learning-platform-and-marketplace.png">
</main>