<!--Portada-->
  <div class="portrait-container">
    <img class="img-portrait" src="/assets/imgs/portrait.png">
    <img class="img-portrait-require" src="/assets/imgs/portrait-img-require.jpg">
    <div class="title">
      <h1>Preescolar manitas de oro</h1>
      <p>Optimiza y simplifica la gestión educativa</p>
    </div>
</html>