<main>
<h1 class="text-title">A単os escolares</h1>

<div class="main-container">
      <a class="btn-add2" href="/save-schoolyear">
      Guardar a単os escolares
      <i class="gg-add"></i>
      </a>

<div class="row">

{{#if hasSchoolyear}}

{{#each year as |y|}}

<div class="cards">
   <div class="card-container">
    <div class="cd-container">
      <div class="info">
    <div class="card-body">
        <h5 required class="card-info">A単o Escolar:{{y.dateunited}}</h5>

      <a class=" btn btn-success" href="/edit-schoolyear/{{y.id}}?edit=true">editar</a>       
     
    </div>
      </div>
    </div>

</div>

</div>

{{/each}}

{{else}}
<div class="mt-container">
  <img class="std-img" src="/assets/imgs/schoolYear-error-img.jpg">
  <img class="std-img-require" src="/assets/imgs/schoolYear-img-error-required.avif">
    <h1 class="text-error">No hay a単os escolares creados</h1>
</div>
{{/if}}

</div>
</div>

</main>